body {
	background-color: #e5e5e5;
	margin: 0;
	padding: 0;
}
header {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.container {
	display: flex;
	justify-content: space-between;
	flex: 1;
}
.menu {
	display: flex;
	align-items: center;
}
.beniskLogo {
	display: flex;
	align-items: center;
}

.bag {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 50px;
	height: 50px;
	border: 1.4px solid #dfdfdf;
	border-radius: 50%;
}
.bag:hover {
	border: 1.4px solid #404041;
}
nav {
	display: flex;
}
nav a {
	display: block;
	padding: 45px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	text-decoration: none;
	color: #404041;
}
nav a:hover {
	color: #000;
}
